<!DOCTYPE html>
<html>
<head>
  <title>Audioforce</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>Just some notes</h1>
		<ul>
			<li>IDEA: An application that can ingest a URL, extract the text (and eventually, certain markup such as headers, emphasis, alt-text, etc.), and read the text content using a text-to-speech library. It's going to be nearly entirely dependent on how powerful and natural-sounding a text-to-speech system is available in terms of growing beyond a hobby, but gnuspeech seems promising.</li>
			<li>The final (v.1) project: An mobile (and perhaps web) application that would allow someone to listen to (for example) Bill Simmons weekly NFL picks while walking, instead of looking at their phone and bumping into things - basically, podcastify web pages. It would be a natural fit for the URX App Search API.</li>
			<li>Another (eventually) interesting result could be an open source gem (or something of the sort) that could be included in web apps, used as a WordPress plugin, etc., that would simply create the source audio, with the product being the client to actually play the audio, which could then be extended with various voices, allow writers to choose who reads their work (a la the Terry Crews Waze voice), or potentially offer a system that could allow the writers to speak enough to create their own voice as an option</li>
		</ul>
	<h2>Contributing</h2>
		<ul>
			<li>If you'd like to collaborate or contribute, submit a pull request modifying the README with your notes (this is really early, I'll make better instructions later)</li>
		</ul>
</body>
</html>
